.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

/* page.module.css */
.calculator {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}

.display {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px;
}

.result {
  color: #ff5733; /* Color de texto naranja, por ejemplo */
  background-color: #f8f8f8;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Organiza los botones en una cuadrícula de 4 columnas */
  gap: 5px;
}

.clear {
  background-color: #e74c3c; /* Rojo brillante, por ejemplo */
  color: #fff;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
